.detail-panel{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: calc(100vh - 310px);
    overflow-y: scroll;
    height: 400px;
}

.chart-container{
    height: 1000px;
    width: 1000px;
    text-align: center;
}

.chart-container canvas{
    /* margin:  0 auto; */
    
}