.detail-panel{
    border: 1px solid #ddd;
    padding: 40px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: calc(100vh - 310px);
    overflow-y: scroll;
    height: 400px;
}