<app-currency-panel ></app-currency-panel>


<div class="home-panel">
    <div class="row-part">
        <div class="cell-part" *ngFor="let r of latestyArray | keyvalue">
            <div class="card" >
                <a class="card-detail" [routerLink]="['/detail', this.base, r.key]" >
                 
                    <p>1 <b>{{this.base}}</b>  - {{r.value}} <b>{{r.key}}</b></p>
                </a>
               
            </div>
        </div>
        <!-- <div class="cell-part">
            <div class="card">
                <div class="card-detail">
                    
                    <p>33 usd -33 eur</p>
                </div>
               
            </div>
        </div>
        <div class="cell-part">
            <div class="card">
                <div class="card-detail">
                    
                    <p>33 usd -33 eur</p>
                </div>
               
            </div>
        </div> <div class="cell-part">
            <div class="card">
                <div class="card-detail">
                    
                    <p>33 usd -33 eur</p>
                </div>
               
            </div>
        </div> <div class="cell-part">
            <div class="card">
                <div class="card-detail">
                    
                    <p>33 usd -33 eur</p>
                </div>
               
            </div>
        </div> <div class="cell-part">
            <div class="card">
                <div class="card-detail">
                    
                    <p>33 usd -33 eur</p>
                </div>
               
            </div>
        </div> <div class="cell-part">
            <div class="card">
                <div class="card-detail">
                    
                    <p>33 usd -33 eur</p>
                </div>
               
            </div>
        </div> <div class="cell-part">
            <div class="card">
                <div class="card-detail">
                    
                    <p>33 usd -33 eur</p>
                </div>
               
            </div>
        </div> <div class="cell-part">
            <div class="card">
                <div class="card-detail">
                    
                    <p>33 usd -33 eur</p>
                </div>
               
            </div>
        </div> <div class="cell-part">
            <div class="card">
                <div class="card-detail">
                    
                    <p>33 usd -33 eur</p>
                </div>
               
            </div>
        </div> <div class="cell-part">
            <div class="card">
                <div class="card-detail">
                    
                    <p>33 usd -33 eur</p>
                </div>
               
            </div>
        </div> -->

    </div>
    
</div>
